header {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-admin {
    height: 100%; /* Annule le 100vh utilisé pour le front du site */
}

.content{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    text-shadow: 1px 1px 10px black;
    animation: slideDown 1.3s ease-out forwards;
    padding-left: 30px;
    padding-right: 30px;
    opacity: 0;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.wrapper {
    flex: 1;
    display: flex;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(/images/montagne.jpeg) no-repeat center center;
    background-size: cover;
    color: white;
}

nav {
    flex: 0 0 auto;
}

.login-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Flèche vers le bas, droite, centrée */
.arrow-down {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounceDown 2s ease-in-out infinite alternate;
    z-index: 10;
}

@keyframes bounceDown {
    0% {
        transform: translateX(-50%) translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-10px);
    }
}



.required::after {
    content: " *";
    color: #dc3545;
}

.form-helper {
    font-size: .9rem;
    color: #6c757d;
}

.btn-gradient {
    border: 2px solid; /* épaisseur obligatoire */
    border-image: linear-gradient(135deg, #0d6efd, #20c997) 1;
}

.alert-gradient {
    background: linear-gradient(135deg, rgba(13, 101, 237, 0.7), rgba(32, 201, 151, 0.7));
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
    transition: all 0.2s ease;
}

.btn-gradient:hover {
    background: linear-gradient(135deg, #0d6efd, #20c997);
    color: #fff;
    border-color: transparent;
}

/* Champ honeypot masqué pour bots */
.hp-wrap {
    position: absolute; left: -10000px; visibility: hidden;
}

.social-icon {
    width: 20px;
    height: 20px;
    transition: transform 0.2s ease;
}
